#popup {
  color: #fff;
  background: #8c0000
}
.test{
  height: 10px;
  width: 50px;
  border: 1px solid rebeccapurple;
  background: #8c0000

}
.css-1ygcj2i-MuiTableCell-root{
  background-color: #13171c !important;
  color: #d1d1d1 !important;
  font-weight: 600 !important;
}
.css-1azl6jz-MuiTableCell-root{
  background-color: #13171c !important;
  color: #d1d1d1 !important;
  font-weight: 600 !important;
}
.css-177gid-MuiTableCell-root {
  background-color: #21262d !important;
  color: #d1d1d1 !important;
  font-weight: 600 !important;


}
input{
  border: 0px ;
  border-radius: 5px;
  color: #21262d;
  background-color: #bfbfbf
}