
.input {

  text-align: right;
  height: 40px;
  width: 200px;
  padding-left: 10px;
  display: flex!important;
  justify-content: space-around!important;
  border: 0px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  color: white !important;
  border-bottom-color: white !important;
  background-color: #363e4b
}

.popup__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  .popup__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;

    .popup__button_submit {
      margin: 10px;
      width: 80px;
      border-radius: 6px;
      border: 0px;
      font-size: 18px;
      color: #ffffff !important;
      font-weight: 600 !important;
      background: #80bc28;
      height: 50px;
    }

    .popup__button_cancel {
      margin: 10px;
      width: 80px;
      border-radius: 6px;
      border: 0px;
      font-size: 18px;
      color: #ffffff !important;
      font-weight: 600 !important;
      background: #c21d1d;
      height: 50px;
    }
  }
}

.error {
  border-bottom: 2px solid #c21d1d !important;
}

.errorMessage {
  color: #c21d1d;
}

.flex {
  display: flex !important;
  height: 100px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
